body {
    height: 400px;
    background-image: url("https://www.blogdelfotografo.com/fotos-comida/");
  background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
  }