
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}

h2{
    text-align: center;
    font-size: 3rem;
    padding-top: 50px;
}

.lista{
    width: 700px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;  
}

.lista ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 10s infinite alternate ease-in-out;
}

.lista li{
    list-style: none;
    width: 100%;
}

.lista img{
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0%}
    20% {margin-left: 0%}

    25% {margin-left: -100%}
    45% {margin-left: -100%}

    50% {margin-left: -200%}
    70% {margin-left: -200%}

    75% {margin-left: -300%}
    100% {margin-left: -300%}
}